*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  background-color: rgb(53, 88, 217);
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

header{
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.nav{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.list{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.anchor{
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: rgb(73, 73, 202);
  color: white;
  border: solid 2px black;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: .2s;
}
/* .anchor:focus{
  background-color: cyan;
  color: black;
} */
.anchor:hover{
  background-color: white;
  color: black;
  transition: .2s;
}
main{
  width: 100%;
  height: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.styleImg{
  width: 30%;
  height: 30%;
  margin-top: 5rem;
  box-shadow: 2px 2px 7px 5px black;
  animation: animate 20s infinite;
}

@keyframes animate{
  25%{
      filter: grayscale(0);
  }
  50%{
    filter: grayscale(1);
  }
  75%{
      filter: grayscale(0);
  }
  100%{
      filter: grayscale(1);
  }
}

/* STYLE USESTATE */

.mainState{
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.min{
  color: white;
}
.max{
  color: chartreuse;
}

#contButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.btn{
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  color: rgb(35, 30, 184);
  border: solid 2px black;
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem;

}



/* Use EFFECT */

.mainEffect{
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  width: 30rem;
  height: 20rem;
  background-color: white;
  transition: 0.5s;
}

#inptColor{
  width: 10rem;
  margin-top: 2rem;
}



/* TWEETS */

.mainTweets{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.area{
  width: 20rem;
  height: 12rem;
  align-self: center;
  font-size: 1rem;
  padding: 10px;
}

.containerBtns{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.counterInit{
  font-size: 15px;
  color: rgb(3, 255, 234);
}

.counterFinal{
  font-size: 15px;
  color: rgb(255, 3, 3);
}

#PublishText{
  width: 20rem;
  height: 10rem;
  background-color: rgb(80, 90, 206);
  border: solid 2px white;
  font-size: 1rem;
  max-width: 70%;
  overflow-wrap: break-word;
}